body {
  font-family:'Courier New', Courier, monospace;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  color: black;
  overflow: hidden;
  text-align: center;

}

.bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
  margin-bottom: -20px;
}

.wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.10);
  display: grid;
  place-items: center;
  z-index: 1;
}

.content {
  height: 300px;
  aspect-ratio: 16/9;
  background-color: rgba(255, 255, 255, 0.65);
  display: grid;
  place-items: center;
  z-index: 2;
  border-radius: 2em;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto min-content;
  grid-gap: 1em;
  padding: 2em;
  box-sizing: border-box;
}

.avatar img {
  height: auto;
  width: 100%;
  border-radius: 50%;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.description {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  row-gap: 0.5em;
  place-items: center;
}

.description > label {
  align-self: start;
}

.description > .buttons {
  align-self: end;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.linked {
  grid-row: 2;
  grid-column: span 2;
  font-size: 0.7em;
}

.projects {
  height: auto;
  width: auto;
  aspect-ratio: 16/9;
  background-color: rgba(255, 255, 255, 0.65);
  display: grid;
  place-items: center;
  z-index: 2;
  border-radius: 2em;
  grid-template-rows: min-content auto;
  padding: 1em;
  box-sizing: border-box;
  position: absolute;
  margin-right: 800px;
}

.projects > .title {
  font-size: 1em;
  font-weight: bold;
}

.prj {
  display: grid;
  grid-template-rows: auto auto;
}