html 
    head 
        title puv.bar
        meta(content='puv.bar' property='og:title')
        meta(content='@puv' property='og:description')
        meta(content='https://puv.bar' property='og:url')
        meta(content='https://avatars.githubusercontent.com/u/16114858' property='og:image')
        meta(content='#ab4eed' data-react-helmet='true' name='theme-color')
        link(rel="stylesheet", href="/css/style.css")
        script(src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer)
    body 
        img.bg(src="/gif/background.gif", alt="", srcset="")
        .wrapper
            .content
                .avatar
                    img(src="https://avatars.githubusercontent.com/u/16114858")
                .info
                    .title @puv
                    .description 
                        label Full-Stack Developer / CS Student
                        .buttons 
                            a(href="https://github.com/puv") Github
                label.linked If a platform is not linked here, the account is probably fake.
        div.cf-turnstile(data-sitekey="0x4AAAAAAABCo8xu8u_Whqb0" data-callback="javascriptCallback")
